# Analysis and comparison of H1b Compensation and Occupational Employment statistics data

All employers hiring H1b workers are required to disclose compensation for the position along with other metadata like Naics (industry) codes and SOC (Occupation Codes). Additionally the Bureau of Labor Statistics publishes annaul data on employment statistics for Naics and Soc codes like mean and medial annual wages.

The data from the above 2 data sets was sourced, modeled and loaded into a redshift databasis for analysis.

h1b data was sourced from https://www.dol.gov/agencies/eta/foreign-labor/performance and OES data from  https://www.bls.gov/oes/tables.htm 

The data in the redshift database can be used to answer such questions as:
1. how does the mean h1b b pay in california compare to the mean pay for the entire occupation of software engineers?
2. which 10 companies in california have the lowest average pay for software engineering professionals?
3. which 10 companies in california have the highest average pay for software engineering professionals?
4. what are the 10 occupations in California that have the lowest difference between the actual wage and what the median state wage for a given Occupation where the reported wage is lower than the median?
5. what are the top 10 occupations in California that have the highest difference between the actual wage and what the median state wage for a given Occupation where the reported wage is lower than the median
6. What were some of the wages paid by udacity to its software engineers?

In [1]:
import configparser
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
red_engine = create_engine('postgresql://user:password@host:port/database')

## how does the mean h1b b pay in california compare to the mean pay for the entire occupation of software engineers IN 2018?

In [3]:
qry = """WITH H1B_AVG_SWE_PAY AS
(
select
fy_year,h1b.worksite_state,avg(wage_rate_of_pay_from) AS H1B_MEAN
from
h1b_worker_fact h1b
where
h1b.fy_year = 2018 
and h1b.wage_unit_of_pay = 'Year' 
and h1b.worksite_state = 'CA'
and substring(soc_code,1,2)=15
group by fy_year,h1b.worksite_state
  ),
OES_AVG_SWE_PAY AS
(
select
period_year_id,state_code,AVG(ANNUAL_WAGE_MEAN) AS OES_MEAN
from
oes_by_state_dim oes 
where period_year_id = 2018 and substring(soc_code,1,2)=15
and state_code = 'CA'
GROUP BY 
period_year_id,state_code)
SELECT H1B_AVG_SWE_PAY.FY_YEAR,H1B_AVG_SWE_PAY.worksite_state,H1B_AVG_SWE_PAY.H1B_MEAN,OES_AVG_SWE_PAY.OES_MEAN
FROM H1B_AVG_SWE_PAY
JOIN OES_AVG_SWE_PAY ON H1B_AVG_SWE_PAY.FY_YEAR = OES_AVG_SWE_PAY.period_year_id """

df = pd.read_sql(qry,red_engine)
df

   fy_year worksite_state   h1b_mean  oes_mean
0     2018             CA  115349.92  102520.0

## which 10 companies in california have the lowest average pay for software engineering professionals IN 2018 ?

In [4]:
qry = """select 
employer_name,avg(wage_rate_of_pay_from) as avg_annual_pay
from
h1b_worker_fact h1b
where
h1b.fy_year = 2018 
and h1b.wage_unit_of_pay = 'Year' 
and h1b.worksite_state = 'CA'
and substring(soc_code,1,2)=15
group by employer_name
order by avg_annual_pay 
limit 10"""
df = pd.read_sql(qry,red_engine)
df

                       employer_name  avg_annual_pay
0        SCHOOL FACILITY CONSULTANTS         39000.0
1                 LA TOURANGELLE INC         40000.0
2                EASTERNCCTV USA LLC         40000.0
3                      CLOUDVARA LLC         40000.0
4                           ATV INC.         41038.0
5     KOREANA PLAZA SACRAMENTO, INC.         41350.0
6  INDEPENDENT AGENCY ALLIANCE, INC.         41600.0
7       ANASTASIA BEVERLY HILLS INC.         43056.0
8            WORLD JOINT CORPORATION         43056.0
9        A.O.E. LAW & ASSOCIATES INC         43056.0

## which 10 companies in california have the highest average pay for software engineering professionals IN 2018 ?

In [5]:
qry = """select 
employer_name,avg(wage_rate_of_pay_from) as avg_annual_pay
from
h1b_worker_fact h1b
where
h1b.fy_year = 2018 
and h1b.wage_unit_of_pay = 'Year' 
and h1b.worksite_state = 'CA'
and substring(soc_code,1,2)=15
group by employer_name
order by avg_annual_pay desc
limit 10"""
df = pd.read_sql(qry,red_engine)
df

                     employer_name  avg_annual_pay
0        DIGITAL VENTURES LAB INC.       375000.00
1    INFOCOMM INVESTMENTS (US) LLC       320846.29
2         DELAWARE HOTEL GROUP LLC       280000.00
3               THE H COMPANY INC.       275000.00
4  CITADEL ENTERPRISE AMERICAS LLC       250000.00
5       WEALTHFRONT SERVICES, INC.       231800.00
6          GALATEA ASSOCIATES, LLC       230000.00
7               CPT HOLDINGS, INC.       225000.00
8                       GROQ, INC.       225000.00
9          OBSIDIAN SECUIRTY, INC.       225000.00

## what are the 10 occupations in California that have the lowest difference between the actual wage and what the median state wage for a given Occupation where the reported wage is lower than the median in 2018?

In [6]:
qry = """select
 h1b.fy_year
,h1b.soc_name
,avg(oes.annual_wage_median - h1b.wage_rate_of_pay_from) as avg_wage_diff
from h1b_worker_fact h1b join oes_by_state_dim oes on h1b.oes_state_dim_id = oes.oes_state_dim_id 
where 
h1b.fy_year = 2018 
and h1b.wage_unit_of_pay = 'Year' 
and h1b.wage_rate_of_pay_from<oes.annual_wage_median 
and h1b.worksite_state = 'CA'
group by 
 h1b.fy_year
,h1b.soc_name
order by avg_wage_diff 
limit 10"""

df = pd.read_sql(qry,red_engine)
df

   fy_year                                           soc_name  avg_wage_diff
0     2018                              COUNSELORS, ALL OTHER          20.00
1     2018                                MECHANICAL DRAFTERS        1015.00
2     2018                               CHEFS AND HEAD COOKS        1360.00
3     2018                         RISK MANAGEMENT SPECIALIST        1394.00
4     2018                                 RECREATION WORKERS        1415.00
5     2018                        COMPUTER PROGRAMMER ANALYST        1580.00
6     2018                     MARRIAGE AND FAMILY THERAPISTS        1861.37
7     2018    LIFE, PHYSICAL, AND SOCIAL SCIENCE TECHNICIANS,        2280.00
8     2018               ARCHITECTURE TEACHERS, POSTSECONDARY        2422.00
9     2018  ELECTRICAL AND ELECTRONIC ENGINEERING TECHNICIANS        2660.00

## what are the 10 occupations in California that have the highest difference between the actual wage and what the median state wage for a given Occupation where the reported wage is lower than the median in 2018?

In [7]:
qry = """select
 h1b.fy_year
,h1b.soc_name
,avg(oes.annual_wage_median - h1b.wage_rate_of_pay_from) as avg_wage_diff
from h1b_worker_fact h1b join oes_by_state_dim oes on h1b.oes_state_dim_id = oes.oes_state_dim_id 
where 
h1b.fy_year = 2018 
and h1b.wage_unit_of_pay = 'Year' 
and h1b.wage_rate_of_pay_from<oes.annual_wage_median 
and h1b.worksite_state = 'CA'
group by 
 h1b.fy_year
,h1b.soc_name
order by avg_wage_diff desc
limit 10"""

df = pd.read_sql(qry,red_engine)
df

   fy_year                                           soc_name  avg_wage_diff
0     2018                 PHYSICIANS AND SURGEONS, ALL OTHER      119388.45
1     2018  SOCIAL SCIENCES TEACHERS, POSTSECONDARY, ALL O...       82717.50
2     2018  MINING AND GEOLOGICAL ENGINEERS, INCLUDING MINING       58690.00
3     2018                        LAW TEACHERS, POSTSECONDARY       53020.00
4     2018                           PSYCHOLOGISTS, ALL OTHER       48048.00
5     2018           COMPUTER AND INFORMATION SYSTEMS MANAGER       47623.00
6     2018                  ADVERTISING & PROMOTIONS MANAGERS       46800.00
7     2018          FOREIGN LANGUAGE AND LITERATURE TEACHERS,       45691.73
8     2018                                     CIVIL ENGINERS       44150.00
9     2018                           NATURAL SCIENCES MANAGER       43688.00

## What did Udacity pay it's tech professionals / SWEs in 2017 and 2018

In [8]:
qry = """
select
 h1b.fy_year
,h1b.employer_name
,h1b.worksite_state
,h1b.wage_rate_of_pay_from
,h1b.prevailing_wage
,h1b.job_title
,h1b.soc_code
,h1b.soc_name
,h1b.naics_name
from h1b_worker_fact h1b 
where 
--h1b.fy_year = 2018 and 
upper(employer_name) = 'UDACITY, INC.'
AND substring(soc_code,1,2)=15
ORDER BY fy_year DESC, h1b.wage_rate_of_pay_from DESC
"""
df = pd.read_sql(qry,red_engine)
df

,fy_year,employer_name,worksite_state,wage_rate_of_pay_from,prevailing_wage,job_title,soc_code,soc_name,naics_name
0,2018,"UDACITY, INC.",CA,190000.0,168210.0,SOFTWARE ENGINEERING MANAGER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
1,2018,"UDACITY, INC.",CA,166000.0,120994.0,SR. SOFTWARE ENGINEER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
2,2018,"UDACITY, INC.",CA,140000.0,127254.0,PRODUCT MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
3,2018,"UDACITY, INC.",CA,128000.0,95306.0,PROGRAM MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
4,2018,"UDACITY, INC.",CA,125050.0,125050.0,SOFTWARE ENGINEER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
5,2018,"UDACITY, INC.",CA,125050.0,88878.0,DEVOPS ENGINEER,15-1142,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,Business and Secretarial Schools
6,2018,"UDACITY, INC.",CA,125000.0,117083.0,SR DATA ANALYST,15-2041,STATISTICIANS,Business and Secretarial Schools
7,2018,"UDACITY, INC.",CA,120000.0,118830.0,CONTENT PROJECT MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
8,2018,"UDACITY, INC.",CA,117000.0,110864.0,SOFTWARE ENGINEER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Business and Secretarial Schools
9,2018,"UDACITY, INC.",CA,115000.0,96325.0,DATA ANALYST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
10,2017,"UDACITY, INC.",CA,185000.0,169749.0,SR. SOFTWARE ENGINEER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
11,2017,"UDACITY, INC.",CA,166000.0,146619.0,SR. SOFTWARE ENGINEER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
12,2017,"UDACITY, INC.",CA,165000.0,147222.0,LEAD FULLSTACK DEVELOPER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",Business and Secretarial Schools
13,2017,"UDACITY, INC.",CA,160000.0,142938.0,SR. SOFTWARE ENGINEER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
14,2017,"UDACITY, INC.",CA,155000.0,142938.0,SR. FULLSTACK ENGINEER,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",Business and Secretarial Schools
15,2017,"UDACITY, INC.",CA,150000.0,145350.0,SENIOR PRODUCT MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
16,2017,"UDACITY, INC.",CA,128000.0,95306.0,PROGRAM MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
17,2017,"UDACITY, INC.",CA,125000.0,117083.0,SR DATA ANALYST,15-2041,STATISTICIANS,Business and Secretarial Schools
18,2017,"UDACITY, INC.",CA,116000.0,95306.0,DATA ENGINEER/ANALYST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Business and Secretarial Schools
19,2017,"UDACITY, INC.",CA,115000.0,89960.0,DATA ANALYST,15-2041,STATISTICIANS,Business and Secretarial Schools
20,2017,"UDACITY, INC.",CA,100000.0,75546.0,CURRICULUM ENGINEER,15-1131,COMPUTER PROGRAMMERS,Business and Secretarial Schools

In [9]:
red_engine.dispose()