In [1]:
import pandas as pd
import csv

In [2]:
!ls /Users/faraz/Documents/udacity_de/5_capstone/datasets/

H-1B_Disclosure_Data_FY17.xlsx       h1b_datahubexport-2019.csv
H-1B_Disclosure_Data_FY2018_EOY.xlsx national_M2019_dl.xlsx
H-1B_Disclosure_Data_FY2019.xlsx     oesm18all
H-1B_FY18_Record_Layout.pdf          oesm19all
H-1B_FY19_Record_Layout.pdf          oesm19nat
PERM_Disclosure_Data_FY2019_2.xlsx

In [3]:
%%time

#h1b_2019 = '/Users/faraz/Documents/udacity_de/5_capstone/datasets/H-1B_Disclosure_Data_FY2019.xlsx'
h1b_2018 = '/Users/faraz/Documents/udacity_de/5_capstone/datasets/H-1B_Disclosure_Data_FY2018_EOY.xlsx'
h1b_2017 = '/Users/faraz/Documents/udacity_de/5_capstone/datasets/H-1B_Disclosure_Data_FY17.xlsx'

#df_2019 = pd.read_excel(h1b_2019)
df_2018 = pd.read_excel(h1b_2018)
df_2017 = pd.read_excel(h1b_2017)

CPU times: user 9min 14s, sys: 7.23 s, total: 9min 21s
Wall time: 9min 30s

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [5]:
print('2018: ',df_2018.shape)
#print('2019: ',df_2019.shape)
print('2017: ',df_2017.shape)

2018:  (654360, 52)
2017:  (624650, 52)

In [6]:
print('2018 memory usage :',df_2018.memory_usage(index=True).sum())
#print('2019 memory usage :',df_2019.memory_usage(index=True).sum())
print('2017 memory usage :',df_2017.memory_usage(index=True).sum())

2018 memory usage : 272213888
2017 memory usage : 259854528

In [7]:
#difference in 2 lists

diff_2018_2017 = list(set(df_2018) - set(df_2017))
print(len(diff_2018_2017))
sorted(diff_2018_2017)

1

['NEW_CONCURRENT_EMP']

In [8]:
#difference in 2 lists

diff_2017_2018 = list(set(df_2017) - set(df_2018))
print(len(diff_2017_2018))
sorted(diff_2017_2018)

1

['NEW_CONCURRENT_EMPLOYMENT']

In [9]:
cols_2018 = list(df_2018.columns)
for i,v in enumerate(cols_2018):
    print(i,v)

0 CASE_NUMBER
1 CASE_STATUS
2 CASE_SUBMITTED
3 DECISION_DATE
4 VISA_CLASS
5 EMPLOYMENT_START_DATE
6 EMPLOYMENT_END_DATE
7 EMPLOYER_NAME
8 EMPLOYER_BUSINESS_DBA
9 EMPLOYER_ADDRESS
10 EMPLOYER_CITY
11 EMPLOYER_STATE
12 EMPLOYER_POSTAL_CODE
13 EMPLOYER_COUNTRY
14 EMPLOYER_PROVINCE
15 EMPLOYER_PHONE
16 EMPLOYER_PHONE_EXT
17 AGENT_REPRESENTING_EMPLOYER
18 AGENT_ATTORNEY_NAME
19 AGENT_ATTORNEY_CITY
20 AGENT_ATTORNEY_STATE
21 JOB_TITLE
22 SOC_CODE
23 SOC_NAME
24 NAICS_CODE
25 TOTAL_WORKERS
26 NEW_EMPLOYMENT
27 CONTINUED_EMPLOYMENT
28 CHANGE_PREVIOUS_EMPLOYMENT
29 NEW_CONCURRENT_EMP
30 CHANGE_EMPLOYER
31 AMENDED_PETITION
32 FULL_TIME_POSITION
33 PREVAILING_WAGE
34 PW_UNIT_OF_PAY
35 PW_WAGE_LEVEL
36 PW_SOURCE
37 PW_SOURCE_YEAR
38 PW_SOURCE_OTHER
39 WAGE_RATE_OF_PAY_FROM
40 WAGE_RATE_OF_PAY_TO
41 WAGE_UNIT_OF_PAY
42 H1B_DEPENDENT
43 WILLFUL_VIOLATOR
44 SUPPORT_H1B
45 LABOR_CON_AGREE
46 PUBLIC_DISCLOSURE_LOCATION
47 WORKSITE_CITY
48 WORKSITE_COUNTY
49 WORKSITE_STATE
50 WORKSITE_POSTAL_CODE
51 ORIGINAL_CERT_DATE

In [10]:
cols_2017 = list(df_2018.columns)
for i,v in enumerate(cols_2018):
    print(i,v)

0 CASE_NUMBER
1 CASE_STATUS
2 CASE_SUBMITTED
3 DECISION_DATE
4 VISA_CLASS
5 EMPLOYMENT_START_DATE
6 EMPLOYMENT_END_DATE
7 EMPLOYER_NAME
8 EMPLOYER_BUSINESS_DBA
9 EMPLOYER_ADDRESS
10 EMPLOYER_CITY
11 EMPLOYER_STATE
12 EMPLOYER_POSTAL_CODE
13 EMPLOYER_COUNTRY
14 EMPLOYER_PROVINCE
15 EMPLOYER_PHONE
16 EMPLOYER_PHONE_EXT
17 AGENT_REPRESENTING_EMPLOYER
18 AGENT_ATTORNEY_NAME
19 AGENT_ATTORNEY_CITY
20 AGENT_ATTORNEY_STATE
21 JOB_TITLE
22 SOC_CODE
23 SOC_NAME
24 NAICS_CODE
25 TOTAL_WORKERS
26 NEW_EMPLOYMENT
27 CONTINUED_EMPLOYMENT
28 CHANGE_PREVIOUS_EMPLOYMENT
29 NEW_CONCURRENT_EMP
30 CHANGE_EMPLOYER
31 AMENDED_PETITION
32 FULL_TIME_POSITION
33 PREVAILING_WAGE
34 PW_UNIT_OF_PAY
35 PW_WAGE_LEVEL
36 PW_SOURCE
37 PW_SOURCE_YEAR
38 PW_SOURCE_OTHER
39 WAGE_RATE_OF_PAY_FROM
40 WAGE_RATE_OF_PAY_TO
41 WAGE_UNIT_OF_PAY
42 H1B_DEPENDENT
43 WILLFUL_VIOLATOR
44 SUPPORT_H1B
45 LABOR_CON_AGREE
46 PUBLIC_DISCLOSURE_LOCATION
47 WORKSITE_CITY
48 WORKSITE_COUNTY
49 WORKSITE_STATE
50 WORKSITE_POSTAL_CODE
51 ORIGINAL_CERT_DATE

In [11]:
#rename column in df_2018 from 'NEW_CONCURRENT_EMP' to ['NEW_CONCURRENT_EMPLOYMENT']

df_2018.rename(columns={'NEW_CONCURRENT_EMP':'NEW_CONCURRENT_EMPLOYMENT'}, inplace=True)

In [12]:
#difference in 2 lists

diff_2018_2017 = list(set(df_2018) - set(df_2017))
print(len(diff_2018_2017))
print(sorted(diff_2018_2017))

#difference in 2 lists

diff_2017_2018 = list(set(df_2017) - set(df_2018))
print(len(diff_2017_2018))
print(sorted(diff_2017_2018))

0
[]
0
[]

In [13]:
#insert a column to the beginning of the dataframe that captures the Fiscal year

df_2018.insert(0, 'FY_YEAR', 2018)
df_2017.insert(0, 'FY_YEAR', 2017)

In [14]:
df_2018.head(2)

   FY_YEAR         CASE_NUMBER CASE_STATUS CASE_SUBMITTED DECISION_DATE VISA_CLASS EMPLOYMENT_START_DATE EMPLOYMENT_END_DATE           EMPLOYER_NAME EMPLOYER_BUSINESS_DBA EMPLOYER_ADDRESS EMPLOYER_CITY EMPLOYER_STATE EMPLOYER_POSTAL_CODE          EMPLOYER_COUNTRY EMPLOYER_PROVINCE EMPLOYER_PHONE EMPLOYER_PHONE_EXT AGENT_REPRESENTING_EMPLOYER AGENT_ATTORNEY_NAME AGENT_ATTORNEY_CITY AGENT_ATTORNEY_STATE          JOB_TITLE SOC_CODE                           SOC_NAME  NAICS_CODE  TOTAL_WORKERS  NEW_EMPLOYMENT  CONTINUED_EMPLOYMENT  CHANGE_PREVIOUS_EMPLOYMENT  NEW_CONCURRENT_EMPLOYMENT  CHANGE_EMPLOYER  AMENDED_PETITION FULL_TIME_POSITION  PREVAILING_WAGE PW_UNIT_OF_PAY PW_WAGE_LEVEL PW_SOURCE  PW_SOURCE_YEAR          PW_SOURCE_OTHER  WAGE_RATE_OF_PAY_FROM  WAGE_RATE_OF_PAY_TO WAGE_UNIT_OF_PAY H1B_DEPENDENT WILLFUL_VIOLATOR SUPPORT_H1B LABOR_CON_AGREE  PUBLIC_DISCLOSURE_LOCATION WORKSITE_CITY WORKSITE_COUNTY WORKSITE_STATE WORKSITE_POSTAL_CODE ORIGINAL_CERT_DATE
0     2018  I-200-18026-338377   CERTIFIED     2018-01-29    2018-02-02       H-1B            2018-07-28          2021-07-27   MICROSOFT CORPORATION                   NaN  1 MICROSOFT WAY       REDMOND             WA                98052  UNITED STATES OF AMERICA               NaN     4258828080                NaN                           N                   ,                 NaN                  NaN  SOFTWARE ENGINEER  15-1132  SOFTWARE DEVELOPERS, APPLICATIONS     51121.0              1               0                     1                           0                          0                0                 0                  Y         112549.0           Year      Level II       OES          2017.0  OFLC ONLINE DATA CENTER               143915.0                  0.0             Year             N                N         NaN             NaN                         NaN       REDMOND            KING             WA                98052                NaT
1     2018  I-200-17296-353451   CERTIFIED     2017-10-23    2017-10-27       H-1B            2017-11-06          2020-11-06  ERNST & YOUNG U.S. LLP                   NaN  200 PLAZA DRIVE      SECAUCUS             NJ                07094  UNITED STATES OF AMERICA               NaN     2018723003                NaN                           Y   BRADSHAW, MELANIE             TORONTO                  NaN         TAX SENIOR  13-2011           ACCOUNTANTS AND AUDITORS    541211.0              1               0                     0                           0                          0                1                 0                  Y          79976.0           Year      Level II       OES          2017.0  OFLC ONLINE DATA CENTER               100000.0                  0.0             Year             N                N         NaN             NaN                         NaN   SANTA CLARA        SAN JOSE             CA                95110                NaT

In [15]:
#union both dataframes
df_union = pd.concat([df_2018,df_2017])

In [16]:
df_union.shape

(1279010, 53)

In [17]:
%%time
target_dir = '/Users/faraz/Documents/udacity_de/5_capstone/datasets/h1b_disclosure_data_2017_2018.dat'
df_union.to_csv(target_dir,sep='|',index=False,quoting=csv.QUOTE_NONNUMERIC)

CPU times: user 46.4 s, sys: 1.08 s, total: 47.5 s
Wall time: 49 s