In [9]:
import pandas as pd
import numpy as np

In [2]:
%%time
source = 'sourcedata/h1b_disclosure_data_2017_2018.dat'

df = pd.read_csv(source,sep='|')

<string>:2: DtypeWarning: Columns (9,15,16,17,25) have mixed types.Specify dtype option on import or set low_memory=False.

CPU times: user 9.42 s, sys: 946 ms, total: 10.4 s
Wall time: 10.7 s

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Data has 1279010 rows and 53 columns

In [5]:
df.shape

(1279010, 53)

Sampling data we can see that there are some anomalies like naics code being a decimal, pw_Source_year being a decimal. the ETL process will need to clean this up

In [6]:
df.head()

,FY_YEAR,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,2018,I-200-18026-338377,CERTIFIED,2018-01-29,2018-02-02,H-1B,2018-07-28,2021-07-27,MICROSOFT CORPORATION,NaN,1 MICROSOFT WAY,REDMOND,WA,98052,UNITED STATES OF AMERICA,NaN,4.25883e+09,NaN,N,",",NaN,NaN,SOFTWARE ENGINEER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",51121,1,0,1,0,0,0,0,Y,112549.0,Year,Level II,OES,2017.0,OFLC ONLINE DATA CENTER,143915.0,0.0,Year,N,N,NaN,NaN,NaN,REDMOND,KING,WA,98052,NaN
1,2018,I-200-17296-353451,CERTIFIED,2017-10-23,2017-10-27,H-1B,2017-11-06,2020-11-06,ERNST & YOUNG U.S. LLP,NaN,200 PLAZA DRIVE,SECAUCUS,NJ,07094,UNITED STATES OF AMERICA,NaN,2.01872e+09,NaN,Y,"BRADSHAW, MELANIE",TORONTO,NaN,TAX SENIOR,13-2011,ACCOUNTANTS AND AUDITORS,541211,1,0,0,0,0,1,0,Y,79976.0,Year,Level II,OES,2017.0,OFLC ONLINE DATA CENTER,100000.0,0.0,Year,N,N,NaN,NaN,NaN,SANTA CLARA,SAN JOSE,CA,95110,NaN
2,2018,I-200-18242-524477,CERTIFIED,2018-08-30,2018-09-06,H-1B,2018-09-10,2021-09-09,LOGIXHUB LLC,NaN,320 DECKER DRIVE,IRVING,TX,75062,UNITED STATES OF AMERICA,NaN,2.14542e+09,NaN,N,",",NaN,NaN,DATABASE ADMINISTRATOR,15-1141,DATABASE ADMINISTRATORS,541511,1,0,0,0,0,1,0,Y,77792.0,Year,Level II,OES,2018.0,OFLC ONLINE DATA CENTER,78240.0,0.0,Year,N,N,NaN,NaN,NaN,IRVING,DALLAS,TX,75062,NaN
3,2018,I-200-18070-575236,CERTIFIED,NaN,2018-03-30,H-1B,2018-09-10,2021-09-09,"HEXAWARE TECHNOLOGIES, INC.",NaN,101 WOOD AVENUE SOUTH,ISELIN,NJ,08830,UNITED STATES OF AMERICA,NaN,6.0941e+09,NaN,Y,"DUTOT, CHRISTOPHER",TROY,MI,SOFTWARE ENGINEER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511,5,5,0,0,0,0,0,Y,84406.0,Year,Level II,OES,2017.0,OFLC ONLINE DATA CENTER,84406.0,85000.0,Year,Y,N,Y,NaN,NaN,NEW CASTLE,NEW CASTLE,DE,19720,NaN
4,2018,I-200-18243-850522,CERTIFIED,2018-08-31,2018-09-07,H-1B,2018-09-07,2021-09-06,"ECLOUD LABS,INC.",NaN,120 S WOOD AVENUE,ISELIN,NJ,08830,UNITED STATES OF AMERICA,NaN,7.3275e+09,NaN,Y,"ALLEN, THOMAS",EDISON,NJ,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511,1,0,0,0,0,0,1,Y,87714.0,Year,Level III,OES,2018.0,OFLC ONLINE DATA CENTER,95000.0,0.0,Year,Y,N,Y,Y,NaN,BIRMINGHAM,SHELBY,AL,35244,NaN

In [10]:
df.describe(exclude=[np.number])

               CASE_NUMBER CASE_STATUS CASE_SUBMITTED DECISION_DATE VISA_CLASS EMPLOYMENT_START_DATE EMPLOYMENT_END_DATE    EMPLOYER_NAME               EMPLOYER_BUSINESS_DBA       EMPLOYER_ADDRESS EMPLOYER_CITY EMPLOYER_STATE EMPLOYER_POSTAL_CODE          EMPLOYER_COUNTRY EMPLOYER_PROVINCE EMPLOYER_PHONE  EMPLOYER_PHONE_EXT AGENT_REPRESENTING_EMPLOYER AGENT_ATTORNEY_NAME AGENT_ATTORNEY_CITY AGENT_ATTORNEY_STATE           JOB_TITLE SOC_CODE                           SOC_NAME  NAICS_CODE FULL_TIME_POSITION PW_UNIT_OF_PAY PW_WAGE_LEVEL PW_SOURCE          PW_SOURCE_OTHER WAGE_UNIT_OF_PAY H1B_DEPENDENT WILLFUL_VIOLATOR SUPPORT_H1B LABOR_CON_AGREE WORKSITE_CITY WORKSITE_COUNTY WORKSITE_STATE WORKSITE_POSTAL_CODE ORIGINAL_CERT_DATE
count              1279010     1279010        1279009       1279010    1279010               1278974             1278969          1278935                               96760                1278992       1278984        1278919              1278974                   1182496             12821        1182495             61924.0                     1182486             1279010              810462               769463             1279000  1278997                            1278996   1278997.0            1278999        1278907       1117072   1278909                  1265980          1278989       1251112          1251104      474010          480904       1278975         1276899        1278986              1278961              94682
unique             1264948           4           1722           717          4                  1974                2028           108815                               17161                  99194          6332             57                13404                         7               500         142945              2190.0                           2                8524                1283                   56              168772      927                               1148      2984.0                  2              5             4         5                     5443                5             2                2           2               2         10604            5063             58                19279               1296
top     I-200-17060-356852   CERTIFIED     2017-03-15    2017-03-23       H-1B            2017-09-01          2020-08-31  INFOSYS LIMITED  MASTECH DIGITAL TECHNOLOGIES, INC.  6100 TENNYSON PARKWAY      NEW YORK             CA                75024  UNITED STATES OF AMERICA         MIDDLESEX     4694672608               226.0                           Y                   ,            NEW YORK                   CA  PROGRAMMER ANALYST  15-1132  SOFTWARE DEVELOPERS, APPLICATIONS    541511.0                  Y           Year      Level II       OES  OFLC ONLINE DATA CENTER             Year             N                N           Y               Y      NEW YORK     SANTA CLARA             CA                94043         2017-03-23
freq                     2     1125143          12668         17362    1249823                 29268               19274            32178                                1857                  32429         63575         219008                36555                   1182419              2662          17732              6453.0                      810465              468547               99533               147237               61260   319618                             318946    446844.0            1252110        1194280        510269   1039801                  1185487          1194647        789542          1250303      458651          464926         78211           88315         247886                13878               1494